.home-container {
    height: 100vh;
    background: linear-gradient(to left, #014BAE, #4FB8E1);
}

.under-text {
    text-align: center;
    color: #0F4182; /* Adjust the color as needed */
  }

.under-text a{
    color: whitesmoke;
}